<div class="ambassadors-profile-summary ambassadors-profile-panel-body">
    <div class="ambassador-profile-picture">
        <img class="" src="{{ Model.ContentItem.Ambassador.Profilepicture.FirstMediaUrl }}" alt="Profile picture" />
    </div>
    <div class="ambassadors-detail">
        <div class="ambassador-name">
            {{ Model.Header | Display }}
        </div>
        <span class="ambassador-email">
            <a href="mailto: {{ Model.ContentItem.Ambassador.Email.Value }}">{{ Model.ContentItem.Ambassador.Email.Value }}</a>
        </span>
        <ul class="ambassadors-phone-location">
            <li>
                <i class="glyphicon glyphicon-link"></i>
                <a href="{{ Model.ContentItem.Ambassador.Websitelink.Value }}">
                    {{ Model.ContentItem.Ambassador.Websitelink.Text }}
                </a>
            </li>
            <li>
                <i class="glyphicon glyphicon-map-marker"></i> {{ Model.ContentItem.Ambassador.Location.Value }}
            </li>
        </ul>
        <div class="ambassador-description ambassadors-description-crop">
            {{ Model.ContentItem.Ambassador.BodyPart.Text }}
        </div>
    </div>
</div>