<nav>
    <ul class="menu menu-ambassador-right-main-menu">
        @*Needed to mark the current menu item in the navigation bar. Adds the "current" class to the <li> tag*@
        @*Any modifications about the navigation on the admin page must be modified here too!*@
        <li class="first @(Model.Menu.Items[0].Selected ? "current" : string.Empty)">
            <a href="~/">
                @T("About")
            </a>
        </li>
        <li class="@(Model.Menu.Items[1].Selected ? "current" : string.Empty)">
            <a href="~/resources-for-orchard-ambassadors">
                @T("Resources {0} Ambassadors", "<span>for</span>")
            </a>
        </li>
        <li class="@(Model.Menu.Items[2].Selected ? "current" : string.Empty)">
            <a href="~/find-the-nearest-orchard-ambassador">
                @T("Find {0} Ambassador", "<span>an</span>")
            </a>
        </li>
        <li class="last @(Model.Menu.Items[3].Selected ? "current" : string.Empty)">
            <a href="~/orchard-ambassador-application">
                @T("Apply")
            </a>
        </li>
    </ul>
</nav>