@using System.Web.Mvc;

<div class="user-display">
    <span class="user-actions powered-by-orchard">
        @T("Powered by {0} &copy Lombiq.", "<a href=\"http://orchardproject.net/\">Orchard</a>")
    </span>
    @if (WorkContext.CurrentUser != null)
    {
        <span class="user-actions user">
            @T("{0}", "<a href=\"" + @Url.Action("ChangePassword", new { Controller = "Account", Area = "Orchard.Users" }) + "\">" + @Html.ItemDisplayText(WorkContext.CurrentUser) + "</a>")
        </span>
    <span class="user-actions logout">
        @Html.ActionLink(T("Sign Out").ToString(), "LogOff", new { Controller = "Account", Area = "Orchard.Users", ReturnUrl = Context.Request.RawUrl }, new { rel = "nofollow" })
    </span>
    }
    else
    {
        <span class="user-actions">@Html.ActionLink(T("Sign In").ToString(), "LogOn", new { Controller = "Account", Area = "Orchard.Users", ReturnUrl = (Request.QueryString["ReturnUrl"] ?? Request.RawUrl) }, new { rel = "nofollow" })</span>
    }
    <span class="user-actions powered-by-dotnest">
        @T("Powered by {0}, the Orchard SaaS platform fueled by {1}", "<a href=\"https://dotnest.com/\">DotNest</a>", "<a href=\"http://lombiq.com/\">Lombiq</a>")
    </span>
</div>